/* CSS */
.button {
  background-color: rgba(255, 255, 255, .2);
  border-radius: 8px;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 3.5vw;
  margin-left: 3.5vw;
  width: 10vw;
  margin-top: 3vw;
}

.button:hover {
  background-color: rgba(200, 200, 200, .2);
}

#projects {
  display: flex;
  flex-direction: row;
}

#experience {
  display: flex;
  flex-direction: row;
}

#skills {
  display: flex;
  flex-direction: row;
}

#social-media {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  color: rgba(255, 255, 255, .465);
}

.marginfix {
  margin-top: 3vw;
}